main{
    padding-top: var(--header-height);
}

/* Intro */
#intro{
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 0;
}

.intro__avatar{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.intro__title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro__title--strong{
    font-weight: 500;
    text-decoration-line: underline; 
    text-decoration-style: wavy;
}

.intro__contact{
    display: inline-block;
    font-weight: bold;
    border: dashed 2px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

.intro__contact:hover{
    text-decoration-line: underline; 
    text-decoration-style: wavy;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);

}

/* About */
#about{
    padding: 0 1rem;
}
/* Stacks */
.stacks{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1.5rem 0;
}
.stack{
    background-color: var(--color-gray);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: default;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.stack__icon{
    font-size: 4rem;
    margin: 0.5rem 0;
    transition: all 300ms ease;
}

.stack:hover .stack__icon{
    transform: rotate(15deg) scale(1.2);
}

.stack__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}

.stack__detail{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Language */
.stack__level{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 100;
}