/* body */
body{
  height: 100%;
  overflow: hidden;
}

/* main */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

/* pages */
  .viewport {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .pages {
    display: flex;
    width: max-content;
    height: 100%;
    transition: transform 0.6s ease; /* smooth animated sliding */
  }
  
  .page {
    min-width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page__title{
    font-size: clamp(4rem, 9vw, 13rem);
    line-height: 1;
    margin: 1rem;
  }

  .page__title.education{
    text-align: center;
  }
  
/* find out more button */
  .page__button{
    font-size: clamp(1rem, 3vw, 2rem);
    border: dashed 3px currentColor;
    border-radius: 10px;
    color: inherit;
    padding: 10px;
  }

/* index button */
.index {
  display: flex;
  gap: 5px;
  padding: 10px;
}

.index button {
  padding: 0px 6px;
  cursor: pointer;
  }

.index__button--img{      
  width: 30px;
  height: 30px;
}

.index button:hover .index__button--img{
  content: url("../assets/images/button/main-circle-button-gray.png");
}

