body{
    background-color: var(--color-charcoal);
}

.documentations{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.documentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 1rem;
    background-color: var(--color-gray);
    border-radius: 10px;
}

.title{
    margin: 1rem;
    font-size: 2rem;
    color: var(--color-yellow);
}

.documentation__img{
    width: 80%;
    height: fit-content;
    margin: 0 0.5rem;
    border-radius: 10px;
}

.description{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 1rem;
    margin: 1rem 2rem;
    text-align: justify;
    text-indent: 10px;
}
